/* QuickDraw Colors */
:root {
    --color-1: #f8db91;
    --color-2: #f1c84b;
    --color-3: #e1aa3d;
    --color-4: #d69e2e;
    --color-5: #c3891d;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background: var(--color-1);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure full height for centering */
    overflow: hidden;  
}

/* Popup Container */
.popup-container {
    background: var(--color-2);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}

.header-icon {  /* Revolver */
    max-width: 32px;
    max-height: 32px;
    vertical-align: middle;   
}

h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
}

/* Name Section (Label and Input in the Same Line) */
.name-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin-left: 5px;
}

.name-section label {
    font-weight: bold;
    white-space: nowrap;
    margin-right: 5px;
}

.name-section input {
    flex-grow: 1;
    padding: 6px;
    border: 2px solid var(--color-5);
    border-radius: 5px;
    background: #fff;
}

/* Checkboxes */
.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.password-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.format {
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}

.password-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin: 0;
}

.lock-password-input {
    flex-grow: 1;
    padding: 5px;
    border: 2px solid var(--color-4);
    border-radius: 5px;
    background: var(--color-1);
    width: 270px; /* Adjust the width if necessary */
    background-color: #e0e0e0; /* Light gray color for the line */
    padding-right: 30px;
}

.toggle-visibility-btn {
    position: sticky;
    top: 60%;
    right: 35px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
.eye-icon {
    width: 20px; /* Adjust the size of the icon */
    height: 20px;
}

.toggle-visibility-btn:disabled {
    cursor: not-allowed; /* Makes the cursor look inactive */
}

/* Buttons */
.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.cancel-btn {
    background: #fa5353;
    color: white;
    width: 100px; /* Set a fixed width */
    text-align: center; /* Align text in the center */
    padding: 10px; /* Add padding for better spacing */
}

.save-btn {
    background: #85d685;
    color: white;
    width: 100px; /* Set a fixed width */
    text-align: center; /* Align text in the center */
    padding: 10px; /* Add padding for better spacing */
}

.cancel-btn:hover, .save-btn:hover  {
    background: var(--color-5);
}

/* Animation for Toggle Switch for Single or Multi LINE */
#toggle-checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 20px;
    cursor: pointer;
    display: block;
    height: 16px;
}

.line {
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    border-radius: 1px;
    background: #fff;
    transition: all 0.3s ease-in-out;
}

.line--top {
    top: 0;
}

.line--middle {
    top: 50%;
    transform: translateY(-50%);
}

.line--bottom {
    bottom: 0;
}

#toggle-checkbox:checked + .toggle .line--top {
    top: 50%;
    transform: translateY(-50%);
}

#toggle-checkbox:checked + .toggle .line--bottom {
    top: 50%;
    transform: translateY(-50%);
}

#toggle-checkbox:checked + .toggle .line--middle {
    height: 3px;
}

/* Animation for Toggle Switch for Lock (Add Password) */ 
.btn-lock {
    position: relative;
    top: calc(50% - 32px);
    left: 0;
    display: flex;
    background: #ff5b5b;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    padding: 3px 0 0 3px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    flex-shrink: 0; /* Prevents shrinking */
}
  
.btn-lock svg {
    fill: none;
    transform: translate3d(0, 0, 0);
}
  
  
.btn-lock svg .lock {
    stroke: #fff;
    stroke-width: 4;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 36;
    transition: all 0.4s ease;
}
  
.btn-lock svg .lockb {
    fill: #fff;
    fill-rule: evenodd;
    clip-rule: evenodd;
    transform: rotate(8deg);
    transform-origin: 14px 20px;
    transition: all 0.2s ease;
}
  
#inpLock {
    display: none;
}

#inpLock:checked + label {
    background: #20cca5;
}

#inpLock:checked + label svg {
    opacity: 1;
}

#inpLock:checked + label svg .lock {
    stroke-dasharray: 48;
    animation: locked 0.3s linear forwards;
}

#inpLock:checked + label svg .lockb {
    transform: rotate(0);
    transform-origin: 14px 22px;
}

@keyframes locked {
    50% {
        transform: translateY(1px);
    }
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
  }
  
.shake {
    animation: shake 0.3s ease-in-out;
}
  