/* General Styles */
body {
  width: 375px;
  font-family: Arial, sans-serif;
  background-color: #f8db91;
  padding: 10px;
}

/* Header */
.header {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: #c3892d;
}

h1 {
  background-color: #c3891d; /* Background color */
  color: #fff;
  border-radius: 4px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
}

.project-icon {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 15px;
}

h2 {
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
  position: relative;
}

.header-icon { /* Revolver */
  max-width: 28px;
  max-height: 28px;
  vertical-align: middle; 
  margin-right: 10px;
}

.collapse-btn, .lock-btn {
  margin-left: auto; 
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;  
  width: 24px; /* Explicit width */
  height: 24px; /* Explicit height */
  line-height: 1; /* Prevent extra spacing */
}

.delete-sec-btn {  
  margin-left: auto; 
  border: none;
  cursor: pointer;
  margin-right: 15px;  
  font-size: 12px; 
  width: 24px; /* Explicit width */
  height: 24px; /* Explicit height */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; /* Remove extra padding */
  line-height: 1; /* Prevent extra spacing */
}

/* Section */
.section-container {
  margin: 0;
}

.section {
  background-color: #f1c84b;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  cursor: grab;
  user-select: none;
  transition: transform 0.2s ease;
}

.section.dragging {
  opacity: 0.5;
  transform: scale(1.05);
}

.section-title {
  flex-grow: 1;
  font-weight: bold;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  cursor: pointer; 
  max-width: 240px; 
  text-overflow: ellipsis; /* Adds ".." if text is too long */
  overflow-x: hidden;
}

/* Section Content */
.section-content, .locked-section {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.hidden {
  display: none;
}

/* Entry */
.entry, .entry-long {
  display: flex;
  align-items: center;
  background-color: #e1aa3d;
  padding: 5px;
  margin: 5px 0;
  border-radius: 4px;
  gap: 10px;
}

.entry-name {
  flex: 0 0 60px; 
  max-width: 60px; 
  text-overflow: ellipsis; /* Adds ".." if text is too long */
  overflow: hidden;
  display: block;
  text-align: left;
}

.entry-text {
  flex: 1;
  min-width: 100px; 
  max-width: 150px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
  background-color: #fff;
}

.entry-icon { /* Bullet */
  margin-left: 5px;
  max-width: 20px;
  max-height: 20px;
  vertical-align: middle;
  
  display: inline-block;
  transition: transform 0.5s ease-in-out;
}

.entry-name-input {
    flex-grow: 1;
    max-width: 48px; 
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.entry-text-input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 142px; 
}

.entry-textarea-input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 106px;
  max-height: 450px; 
  overflow-y: auto; 
}

/* Buttons */
button, .add-entry-btn, .add-entry-btn-long {
  background-color: #d69e2e;
  border: none;
  padding: 5px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
}

.enter-btn {
  background-color: #85d685;
  border: none;
  padding: 5px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  width: 65px;
  margin-right: 5px;
}

.edit-btn, .delete-btn, .copy-btn, .confirm-btn {
  background-color: #d69e2e;
  border: none;
  padding: 5px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  width: 27px; /* Explicit width */
  height: 27px; /* Explicit height */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

button:hover {
  background-color: #c3891d;
}

.password-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin: 0;
}

.lock-password-input {
  flex-grow: 1;
  padding: 5px;
  border: 2px solid var(--color-4);
  border-radius: 5px;
  background: var(--color-1);
  max-width: 225px; /* Adjust the width if necessary */
  background-color: #fff; 
  padding-right: 30px; /* Create space for the eye icon */

}

.toggle-visibility-btn {
  position: absolute;
  right: 120px;
  background: none;
  border: none;
  cursor: pointer;
}

.toggle-visibility-btn:hover { /* Disable hover for toggle button */
  background-color: transparent;
}

.eye-icon {
  width: 20px; /* Adjust the size of the icon */
  height: 20px;
}

.divider {
  height: 4px;
  border-radius: 2px;
  background-color: #c3892d; /* Light gray color for the line */
  margin: 10px 0; /* Space above and below the divider */
  width: 100%;
}

.footer-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.add-section-btn {
  height: 32px;
  font-size: 14px;
  flex: 0 0 120px;
}

@keyframes spin360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.revolver-spin {
  animation: spin360 1s ease-in-out;
}

@keyframes flip360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.button-flip {
  animation: flip360 1.25s ease-in-out;
}

@keyframes roll-across {
  0% {
      transform: translateX(0) rotate(0deg);
  }
  60% {
      transform: translateX(100vw) rotate(360deg);
  }
  61% {
      transform: translateX(-100vw) rotate(360deg);
  }
  100% {
      transform: translateX(0) rotate(0deg);
  }
}

.rolling {
  animation: roll-across 3s linear forwards;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
}

.shake {
  animation: shake 0.3s ease-in-out;
}

@keyframes expose {
  100% { background: white; }
}

.expose {
  animation: expose .95s ease-in-out;
}

/* The switch - the box around the slider */
.switch {
  font-size: 12px;
  position: relative;
  display: inline-block;
  width: 5em;
  height: 28px;
  user-select: none;
  margin-right: 10px;
  margin-bottom: 3.5px;
  padding: 0px;
}

.switch .cb { /* Hide default HTML checkbox */
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggle {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #c3891d;
  border-radius: 0.2em;
  transition: 0.4s;
  text-transform: uppercase;
  font-weight: 700;
  overflow: hidden;
  box-shadow: -0.3em 0 0 0 #c3891d, -0.3em 0.3em 0 0 #c3891d,
    0.3em 0 0 0 #c3891d, 0.3em 0.3em 0 0 #c3891d, 0 0.3em 0 0 #c3891d;
}

.toggle > .left {
  position: absolute;
  display: flex;
  width: 50%;
  height: 85%;
  background-color: #f3f3f3;
  color: rgb(255, 103, 103);
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  transform-origin: right;
  transform: rotateX(10deg);
  transform-style: preserve-3d;
  transition: all 150ms;
}

.left::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(206, 206, 206);
  transform-origin: center left;
  transform: rotateY(90deg);
}

.left::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(112, 112, 112);
  transform-origin: center bottom;
  transform: rotateX(90deg);
}

.toggle > .right {
  position: absolute;
  display: flex;
  width: 50%;
  height: 85%;
  background-color: #f3f3f3;
  color: rgb(206, 206, 206);
  right: 1px;
  bottom: 0;
  align-items: center;
  justify-content: center;
  transform-origin: left;
  transform: rotateX(10deg) rotateY(-45deg);
  transform-style: preserve-3d;
  transition: all 150ms;
}

.right::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(206, 206, 206);
  transform-origin: center right;
  transform: rotateY(-90deg);
}

.right::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(112, 112, 112);
  transform-origin: center bottom;
  transform: rotateX(90deg);
}

.switch input:checked + .toggle > .left {
  transform: rotateX(10deg) rotateY(45deg);
  color: rgb(206, 206, 206);
}

.switch input:checked + .toggle > .right {
  transform: rotateX(10deg) rotateY(0deg);
  color: #4ddb48;
}

.blackout-tooltip-container {
  position: relative;
  display: inline-block;
}

.blackout-button {
  background: black;
  color: white;
  border-style: solid;
  border-width: 4px;
  border-radius: 4px;
  border-color: #c3892d;
  padding: 0px;
  font-weight: 700;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 120px;  
  height: 32px;
  font-size: 14px;
  margin-left: 55px;
}

.blackout-button:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  background-color: black;
}

.blackout-tooltip {
  position: absolute;
  bottom: calc(100% + 10px);
  left: calc(50% + 30px);
  transform: translateX(-50%) translateY(10px);
  padding: 6px 10px;
  background: linear-gradient(135deg, #ffffff, #f8f9fa);
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  color: #1f2937;
  font-size: 12px;
  width: 220px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  border: 1px solid rgba(229, 231, 235, 1);
  text-align: center;
  vertical-align: middle;
}

.blackout-tooltip::after { /* Tooltip arrow */
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}

.blackout-tooltip-container:hover .blackout-tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}