/* General Styles */
body {
  width: 375px;
  font-family: Arial, sans-serif;
  background-color: #f8db91;
  padding: 10px;
}

/* Header */
.header {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: #c3892d;
}

h1 {
  background-color: #c3891d; /* Background color */
  color: #fff;
  border-radius: 4px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
}

.project-icon {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 15px;
}

h2 {
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
  position: relative;
}

.header-icon { /* Revolver */
  max-width: 28px;
  max-height: 28px;
  vertical-align: middle; 
  margin-right: 10px;
}

.collapse-btn, .lock-btn {
  margin-left: auto; 
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.delete-sec-btn {  
  margin-left: auto; 
  border: none;
  cursor: pointer;
  margin-right: 15px;  
  font-size: 12px; 
  width: 24px; /* Explicit width */
  height: 24px; /* Explicit height */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; /* Remove extra padding */
  line-height: 1; /* Prevent extra spacing */
}

/* Section */
.section-container {
  margin: 0;
}

.section {
  background-color: #f1c84b;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  cursor: grab;
  user-select: none;
  transition: transform 0.2s ease;
}

.section.dragging {
  opacity: 0.5;
  transform: scale(1.05);
}

.section-title {
  flex-grow: 1;
  font-weight: bold;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  cursor: pointer; 
  max-width: 240px; 
  text-overflow: ellipsis; /* Adds ".." if text is too long */
  overflow-x: hidden;
}

/* Section Content */
.section-content, .locked-section {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.hidden {
  display: none;
}

/* Entry */
.entry, .entry-long {
  display: flex;
  align-items: center;
  background-color: #e1aa3d;
  padding: 5px;
  margin: 5px 0;
  border-radius: 4px;
  gap: 10px;
}

.entry-name {
  flex: 0 0 60px; 
  max-width: 60px; 
  text-overflow: ellipsis; /* Adds ".." if text is too long */
  overflow: hidden;
  display: block;
  text-align: left;
}

.entry-text {
  flex: 1;
  min-width: 100px; 
  max-width: 150px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
}

.entry-icon { /* Bullet */
  margin-left: 5px;
  max-width: 20px;
  max-height: 20px;
  vertical-align: middle;
  
  display: inline-block;
  transition: transform 0.5s ease-in-out;
}

.entry-name-input {
    flex-grow: 1;
    max-width: 48px; 
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.entry-text-input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 142px; 
}

.entry-textarea-input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 106px;
  max-height: 450px; 
  overflow-y: auto; 
}

/* Buttons */
button, .add-entry-btn, .add-entry-btn-long {
  background-color: #d69e2e;
  border: none;
  padding: 5px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
}

.enter-btn {
  background-color: #85d685;
  border: none;
  padding: 5px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  width: 70px;
}

.edit-btn, .delete-btn, .copy-btn, .confirm-btn {
  background-color: #d69e2e;
  border: none;
  padding: 5px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  width: 27px; /* Explicit width */
  height: 27px; /* Explicit height */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

button:hover {
  background-color: #c3891d;
}

.divider {
  height: 4px;
  border-radius: 2px;
  background-color: #c3892d; /* Light gray color for the line */
  margin: 10px 0; /* Space above and below the divider */
  width: 100%;
}

.footer-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

/* Add Section Button (Left Side) */
.add-section-btn {
  height: 32px;
  font-size: 14px;
  flex: 0 0 120px;
}

@keyframes spin360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.revolver-spin {
  animation: spin360 1s ease-in-out;
}

@keyframes roll-across {
  0% {
      transform: translateX(0) rotate(0deg);
  }
  60% {
      transform: translateX(100vw) rotate(360deg);
  }
  61% {
      transform: translateX(-100vw) rotate(360deg);
  }
  100% {
      transform: translateX(0) rotate(0deg);
  }
}

.rolling {
  animation: roll-across 3s linear forwards;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
}

.shake {
  animation: shake 0.3s ease-in-out;
}


.password-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin: 0;
}

.lock-password-input {
  flex-grow: 1;
  padding: 5px;
  border: 2px solid var(--color-4);
  border-radius: 5px;
  background: var(--color-1);
  max-width: 225px; /* Adjust the width if necessary */
  background-color: #fff; 
  padding-right: 30px; /* Create space for the eye icon */

}

.toggle-visibility-btn {
  position: absolute;
  right: 120px;
  background: none;
  border: none;
  cursor: pointer;
}

.toggle-visibility-btn:hover { /* Disable hover for toggle button */
  background-color: transparent;
}

.eye-icon {
  width: 20px; /* Adjust the size of the icon */
  height: 20px;
}

